body {
    font-size: 1.6rem ;
     height: 100vh;
    margin : 0;
    background: #e6e6e6;
}

.showSlide {
    display: none;
}

.showSlide img {
    width: 20rem;
    height: 15rem;
}

.slidercontainer {
    max-width: 20rem;
    max-height: 15rem; 
    margin-top: 3rem;
    position: relative;
    margin-left: 25rem;
}

.left, .right{
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 1rem;
    margin-top: -3rem;
    color: white;
    font-weight: bold;
    font-size: 3rem;
    transition: 0.6s ease;
    border-radius: 0 .3rem .3rem 0;
}

.right {
    right: 0;
    border-radius: .3rem 0 0 .3rem;
}

.left:hover, .right:hover{
    background-color: rgba(115, 115, 115, 0.8);
}

.content {
    color: #eff5d4;
    /* font-size: 1rem; */
    padding: 2rem 2rem;
    position: absolute;
    top: -2rem;
    text-align: center;
}

.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade{
    from{
        opacity: 4;
    }to{
        opacity: 1;
    }
}

@keyframes fade{
    from{
        opacity: 4;
    }to{
        opacity: 1;
    }
}